/node_modules
/dist
/.vscode
.DS_Store
/*.log

/temp
/*.tmp
/.cache
/build
/out
/*.exe
/*.app
/*.dll
/*.pdb
/*.lib
/*.so
/*.dylib
/*.zip
/*.tar.gz
/*.7z
/*.iso
/*.bak
/coverage
/.nyc_output
/.env
.env.local
.env.*.local        
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log* 



